
<%- include('partials/header') %>
<div class="container">
    <div class="box" style="width: 30%; margin: 250px auto; ">
        <h1 style="text-align: center;"><i class='fab fa-centercode' style='font-size:48px;color:red'></i>   fBlogger</h1>
        <p style="text-align: center;">Write and read the blogs here...</p>
        <hr style="width: 80%;">
        <div style="text-align: center;">
            <a class="btn btn-primary" href="/blogs">Get Started</a>
        </div>
        
    </div>

</div>

<%- include('partials/footer') %>